<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Detail Produk</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="h-screen w-full bg-[url('/images/studio-ghibli-tree-and-rocks-4k.jpg')] bg-cover bg-no-repeat bg-contain bg-fixed">
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <div class="container main-content mt-4">

        <!-- Produk ditemukan -->
        <div th:if="${product != null}">
            <div class ="flex flex-wrap justify-start items-center mb-6">
                <ol class="list-none flex items-center gap-3 text-white font-medium text-lg mr-2 drop-shadow-sm">
                    <li class="px-6 py-2 rounded-full bg-white/30 hover:bg-white/50 text-white border border-white/40 backdrop-blur-md transition duration-300 shadow-sm font-medium"><a th:href="@{/}">Home</a></li>
                    <li class="px-6 py-2 rounded-full bg-white/30 hover:bg-white/50 text-white border border-white/40 backdrop-blur-md transition duration-300 shadow-sm font-medium"><a th:href="@{/products}">Produk</a></li>
                    <li class="px-6 py-2 rounded-full bg-white/30 hover:bg-white/50 text-white border border-white/40 backdrop-blur-md transition duration-300 shadow-sm font-medium" th:text="${product.name}">Nama</li>
                </ol>
            </div>

            <div class="text-[35px] text-gray-200 font-light drop-shadow-md mb-1 max-w-2xl text-left" th:text="${product.name}">Nama Produk</div>

            <div class="card shadow-sm max-w-[300px] w-full">
                <div class="flex items-center justify-center h-full rounded-2xl overflow-hidden shadow-2xl bg-white/20 border border-white/40">
                    <table class="table table-borderless mb-0">
                        <tr>
                            <th style="width: 120px;">ID</th>
                            <td th:text="${product.id}">1</td>
                        </tr>
                        <tr>
                            <th>Nama</th>
                            <td th:text="${product.name}">Nama</td>
                        </tr>
                        <tr>
                            <th>Kategori</th>
                            <td>
                                <a th:href="@{/products/category/{cat}(cat=${product.category})}"
                                   th:text="${product.category}">Kategori</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Harga</th>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">
                                Rp 0
                            </td>
                        </tr>
                        <tr>
                            <th>Stok</th>
                            <td>
                                <span th:text="${product.stock}">0</span>
                                <span th:if="${product.stock < 20}" class="badge bg-danger ms-2">
                                Stok Menipis!
                            </span>
                                <span th:if="${product.stock >= 20}" class="badge bg-success ms-2">
                                Tersedia
                            </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Produk tidak ditemukan -->
        <div th:if="${product == null}">
            <div class="alert alert-danger">
                <div class="text-[35px] text-red-400 font-light drop-shadow-md mb-1 max-w-2xl text-left">Produk Tidak Ditemukan</div>
                <div class="px-6 py-2 rounded-full bg-red/150 text-white border border-red/40 shadow-sm font-medium">
                    <p th:text="${error}">Error message</p>
                </div>
            </div>
        </div>

        <div class="mt-5 mb-6">
            <a th:href="@{/products}" class="px-6 py-2 rounded-full bg-white/30 hover:bg-white/50 text-white border border-white/40 backdrop-blur-md transition duration-300 shadow-sm font-medium">Kembali ke Daftar</a>
        </div>

    </div>

    <div th:replace="~{fragments/layout :: footer}"></div>
</div>


</body>
</html>