<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">About App</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

<div class = "h-screen w-full bg-[url('/images/totoro-chilling-under-tree-summer-day-pc-wallpaper-4k.jpg')] bg-cover bg-no-repeat bg-fixed">
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <div class="bg-primary text-white">
        <h3 class= "text-[35px] text-gray-200 font-light drop-shadow-md mb-10 max-w-2xl text-left">Tentang Aplikasi</h3>
    </div>

    <div class="container mt-5 flex flex-col items-center">
        <div class="card shadow-sm max-w-2xl w-full">
            <div class="flex items-center justify-center h-full rounded-3xl overflow-hidden shadow-2xl bg-white/20 border border-white/40">
                <table class="table table-borderless">
                    <tr>
                        <th style="width: 150px;">Nama Aplikasi</th>
                        <td th:text="${appName}">Spring MVC Lab</td>
                    </tr>
                    <tr>
                        <th>Versi</th>
                        <td>
                            <span class="badge bg-secondary" th:text="${version}">1.0</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td th:text="${author}">Nama Kamu</td>
                    </tr>
                    <tr>
                        <th>Teknologi</th>
                        <td>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item" th:each="tech : ${technologies}">
                                    <span class="badge bg-info text-dark" th:text="${tech}">Tech</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/layout :: footer}"></div>
</div>

</body>
</html>