<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class = "flex flex-col min-h-screen">

<!-- Pakai fragment navbar -->
<div class = "h-screen w-full bg-[url('/images/upscalemedia-transformed.jpeg')] bg-cover bg-no-repeat bg-contain bg-fixed">
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <div class="container main-content mt-4">
        <h1 class= "text-[45px] md:text-7xl font-extrabold text-white drop-shadow-[0_5px_5px_rgba(0,0,0,0.8)] mb-6" th:text="${title}">Title</h1>
        <p class= "text-xl text-gray-200 font-light drop-shadow-md mb-10 max-w-2xl text-left" th:text="${description}">Description</p>
        <hr>
        <h1 class = "text-center text-white fond-bold text-[50px] font-mono">Jelajahi Produk:</h1>
        <div class="mt-3">
            <div class = "flex items-center justify-center h-full lg:grid-cols-4 gap-6">
                <div class = "max-w-sm rounded-3xl overflow-hidden shadow-2xl bg-white/5 border border-white/40">
                    <img class="w-full h-56 object-cover" src="/images/package-ezgif.com-gif-maker.gif" alt="Card Image">
                    <a th:href="@{/products}" class="block w-full text-center p-4 bg-black/20 text-white font-bold hover:bg-black/40 transition duration-300">Semua Produk</a>
                </div>
                <div class = "max-w-sm rounded-3xl overflow-hidden shadow-2xl bg-white/5 border border-white/40">
                    <img class="w-full h-56 object-cover" src="/images/computer-ezgif.com-gif-maker.gif" alt="Card Image">
                    <a th:href="@{/products/category/Elektronik}" class="block w-full text-center p-4 bg-black/20 text-white font-bold hover:bg-black/40 transition duration-300">Elektronik</a>
                </div>
                <div class = "max-w-sm rounded-3xl overflow-hidden shadow-2xl bg-white/5 border border-white/40">
                    <img class="w-full h-56 object-cover" src="/images/book-ezgif.com-gif-maker.gif" alt="Card Image">
                    <a th:href="@{/products/category/Buku}" class="block w-full text-center p-4 bg-black/20 text-white font-bold hover:bg-black/40 transition duration-300">Buku</a>
                </div>
                <div class = "max-w-sm rounded-3xl overflow-hidden shadow-2xl bg-white/5 border border-white/40">
                    <img class="w-full h-56 object-cover" src="/images/burger-ezgif.com-gif-maker.gif" alt="Card Image">
                    <a th:href="@{/products/category/Makanan}" class="block w-full text-center p-4 bg-black/20 text-white font-bold hover:bg-black/40 transition duration-300">Makanan</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pakai fragment footer -->
    <div th:replace="~{fragments/layout :: footer}"></div>
</div>

</body>
</html>